*{
    margin: 0;
    padding: 0;
    font-family :Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


.container{
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/hadi.jpg);
    background-size: cover; /* Ensure it covers the full area */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent tiling/repeating */
}


nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    width: 180px;
    cursor: pointer;
    border-radius: 25px;
}

nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
   color: white;
   text-decoration: none;
}

.btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: transparent;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
}

.btn img {
    width: 20px;
    margin-right: 10px;
}

.content{
    margin-top: 14%;
    color: #e0d5d5;
    max-width: 620px;
}

.content h1{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    line-height: 85px;
    margin-bottom: 25px;
}

.content form{
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 5px;
    padding: 30px;
    margin-top: 30px;
}
.content form input{
    border: 0;
    outline: 0;
    width: 70%;
    font-size: 20px;
    padding-left: 10px;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background: #222; 
    color: #fff; }

.socialicons {
    font-size: x-large;

}